.registration{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pixabay-form {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  .pixabay-form label {
    color: #ffffff;
  }
  
  .pixabay-form input[type="text"],
  .pixabay-form input[type="password"] {
    width: 40%;
    border-radius: 3px;
    border: 1px solid #000000;
    background-color: rgb(255, 255, 255);
    color: #000000;
    height: 25px;
    margin-bottom: 10px;
    width: 50vh;
  }
  
  .pixabay-form button[type="submit"] {
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    background-color: #ffffff;
    color: #242424;
    cursor: pointer;
    border: 1px solid #000000;
  }
  
  .pixabay-form button[type="submit"]:hover {
    background-color: #dddddd;
  }
  