<div class="pixabay">
    <div class="button-container">
      <button name="motorcycles" class="category-button" (click)="SwapImages('motorcycles')">Motorcycles</button>
      <button name="nature" class="category-button" (click)="SwapImages('nature')">Nature</button>
      <button name="space" class="category-button" (click)="SwapImages('space')">Space</button>
      <button name="architecture" class="category-button" (click)="SwapImages('architecture')">Architecture</button>
    </div>
    <button class="register-button" routerLink="/registration">Register</button>
    <div class="pixabay_photos">
      <div *ngIf="loading; else images" style="width: 100%; text-align: center;">
        <p style="font-size: 30px;">Please register to view images</p>
      </div>
      <ng-template #images>
        <div *ngFor="let item of imagesArray">
          <img class="images" src={{item.largeImageURL}}>
        </div>
      </ng-template>
    </div>  
  </div>